
.brand-name {
    color: orangered !important;
    font-weight: bold;
    display: flex;
    flex-direction: row;

}

.brand-name2 {
    color: orangered !important;
    font-weight: bold;
    display: flex;
    justify-content: center;


}

.text-align {
    text-align: left;
}


#ef-logo {
    display: flex;
}
.fas { 
    font-family: 'FontAwesome' !important; 
}

#brand-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.stats {
    font-size: 14px !Important;
}

#video-wrap {
    display: flex;
}


.group1 {
    width: 500px;
}
.list-group{
    margin-top: 10px;    
    display: flex;
    padding:10px;
    
}

.container {
    padding: 2px;
}
.footer {
    flex-shrink: 0;
    height: 90px;
    background-color: whitesmoke;
  }

  #map1 {
      height: 100%;
      width: 100%;
  }

  #support {
      width: 100%;
      height: 120px;
      background-color: whitesmoke;
  
  }
#aboutusP {
    display: flex;
    text-align: left;
    margin: 35px;
}

#covid {
    display: flex;
}

.row {
    display: flex;
    justify-content: space-between;

}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.responsive {
    width: 100%;
    height: auto;
  }